body{
    box-sizing: border-box;
    background-color: #c0c5c0;
}

navbar#header{
    background-color: rgba(48, 137, 153, 0.897);
    width: 110%;
}

navbar > p{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
    text-align: center;
}

section > div.main-box{
    background-color: rgba(95, 154, 172, 0.311);
    height: auto;
    margin-left: 5%;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    width: 100%;
}

/*
.container > div > button.btn{
   
}

.elemento > img#img-gif{
    border-radius: 5%;
    max-height: 65%;
    max-width: 65%;
    padding-left: 5rem;
    padding-top: 1.5rem;
}
/*
.container img{
    max-width: 250px;
    padding: 4px;
}
.elementos{
    padding: 2%;
}
#elementos .elemento{
    margin: 10px;
    border: 2px solid c0c5ce;
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    margin: 2%;
}
#elementos .elemento a{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    padding: 20%;
    position: relative;
    top: 30%;
    color: white;
    text-decoration: none;
    font-size: 16px;
}